<div class="modal fade" id="addQuestions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add question to this category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@category, @question] do |q| %>
          <%= q.input :question %>

          <%= q.input :category, input_html: { value: @category.name }, disabled: true %>
          <div class="actions button-edit-score"><%= q.submit 'Done', class: "btn-save-questions" %></div>

        <% end %>
      </div>
    </div>
  </div>
</div>
