.content-area {
  margin-left:200px;
  padding-left:30px;
  margin-right: 48px;
}

.content-area h1 {
  font-size: 30px;
  color:#032338;
}

.heading {
  margin-top:24px;
}

.head-row {
  display: flex;
  justify-content: space-between;
}

.head-row a {
  font-size:22px;
}
.heading h1 {
  font-weight:500;
}


#dtText, .fa-calendar-check {
  font-size: 16px;
}

.fa-filter{
  color:#134261;
  position:relative;
  top:8px;
}


.fa-plus-circle {
  color:#004572;
}


.fa-calendar-check {
  margin-left:5px;
  font-size: 16px;
  color:#004572;
}


.form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
}

.button-general {

  padding:7px 18px;
  border-radius:6px;
  border:none;
  background:#1e67bd;
  color:white;
   margin:16px 0 40px 0;
&:hover{
  background:#0e488c;

}

}

