.right-align-area {
  position:relative;
  left:200px;
  width:820px;
}

#select-position-edit {
  height: 32px;
  position:relative;
  bottom:4px;
  border-radius: 5px;
  padding: 4px 10px 4px 6px;
  margin-right:8px;
}


.head-row-select {
  display:flex;
  justify-content:space-between;
}

.head-row-select span {
    position: relative;
    left: 120px;
    font-size: 18px;
}

.score-edit-table {

  margin-top: 20px;
  margin-left: 20px;
}

.score-edit-table td {
  width:-1px;
}

#skill-name select, #importance select {
  width:220px;
  margin-right:100px;
  margin-bottom:15px;
  padding-left:6px;
  border-color:#bdbdbd;
  border-radius:4px;
}

.button-edit-score button[type="submit"]{
  padding: 9px 15px;
  border-radius: 4px;
  border:none;
  background:#1e67bd;
  color:white;
  margin: 22px 0px 0px -135px;
  position: relative;
  top: 50%;
  left: 50%;
&:hover{
  background:#0e488c;

}
}


.redirect{
  i {
  color:#1e67bd;
}
  a{
    color:black;
  }
}

.bold-question{
 color:#1e67bd;
 font-weight:strong;
}



th {
  white-space: nowrap;
}

.score-grid{
 text-shadow: 1px 1px 0px rgba(0,0,0,0.1), 1px 1px 0px rgba(0,0,0,0.15);
 text-align: center;
}
