.video-analysis-result{
  color: #101010;
}

.output-stats-column{
  width: 70%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.percent-bar-main{
  margin-bottom: 24px;
  margin-top: 10px;
}

.percent-bar{
  border-bottom: 1px solid #323232;
}

.percent-bar-and-score--number{
  position: absolute;
  width: 3rem;
  margin-top: 0rem;
  left: -1.2rem;
  top: -2rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 0.8em;
  font-weight: 400;
  color: #4178be;
}

.percent-bar--ball{
  background-color: #00b4a0;
  height: 0.8rem;
  width: 0.8rem;
  top: -0.4rem;
  left: -0.4rem;
  border-radius: 100%;
  position: absolute;
  transition: 0.2s;
}

.personality-insights-bar{
  background-color: white;
  border: 2px solid #ececec;
  padding: 8px 24px;
  margin-bottom: 24px;
}

.over-score-header{
  display: flex;
  justify-content: space-between;
}

#applicant-video{
  font-size: 14px;
  margin-right: 2px;
  color: gray;
}

#percentile{
  position: absolute;
  right: 1rem;
  top: 2.2rem;
  margin-top: 0rem;
  font-size: 0.9em;
  color: #4178be;
}
