.video-analysis-result{
  color: #101010;
  display: flex;
  justify-content: space-between;
}

.output-stats-column{
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.percent-bar-main{
  margin-bottom: 24px;
  margin-top: 10px;
}

.percent-bar{
  border-bottom: 1px solid #323232;
}


.percent-bar-and-score--number{
  position: absolute;
  width: 3rem;
  margin-top: 0rem;
  left: -1.2rem;
  top: -2rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 0.8em;
  font-weight: 400;
  color: #5897FB;
}

.percent-bar--ball{
  background-color: #5897FB;
  height: 0.8rem;
  width: 0.8rem;
  top: -0.4rem;
  left: -0.4rem;
  border-radius: 100%;
  position: absolute;
  transition: 0.2s;
}

.skill_requirement{
  background-color: rgb(200,200,200);
}

.skill_requirement_parcent{
  color: rgb(200,200,200);
}

.personality-insights-bar{
  background-color: white;
  border: 2px solid rgba(22, 127, 251, 0.29);
  padding: 8px 48px;
  margin-bottom: 24px;
  padding-top:20px;
  padding-bottom:48px;
  width:45%;
  border-radius:6px;
}

.over-score-header{

}

#applicant-video{
  font-size: 14px;
  margin-right: 2px;
  color: gray;
}

#percentile{

  right: 1rem;
  top: 48px;
  margin-top: 0rem;
  font-size: 0.9em;
  color: #4178be;
}


.btn-video-analysis {
  margin-right:40px;
}


.screening-result-section {
  display:flex;
  flex-direction:row;
  width:1160px;
  margin-bottom:30px;
}


.video-content {
  display:flex;
  flex-direction:column;

}

.video-analysis-overall {
  margin-top:24px;

}

.fa-sticky-note {
  color: #004572;
  font-size: 13px;
}
