<div class="evaluation-form-overall">
  <div class="question-form">
    <div><i class="fas fa-trash-alt"></i></div>
    <div class="modal-add-question"><i class="fas fa-plus-circle"></i>Add question</div>
  </div>
  <div class="modal-add-category"><i class="fas fa-plus-circle"></i>Add Category</div>
  <button class="btn-save-evaluation">Save</button>
</div>
