<div class = "video-content">
  <video class= "video-center" width="80%" height="320" controls="controls" style="text-align:center;">
    <source src=“https://res.cloudinary.com/kwy031820/video/upload/v1596717511/mihihkbh5lhedu7rfq5d10obvwob.mp4” crossorigin="anonymous" />
   Your browser does not support the video tag.
  </video>
</div>
<div class ="video-transcript">
  <%= simple_format @job_application.videotranscript %>
</div>
