<div class="modal-dialog" role="document">
  <div class="modal-content">
    <% @job_applications.each do |job_applications| %>
    <%= job_applications.candidate_name %>
    <% end %>
  </div>
</div>
