<div class="center-box">
  <h3 style="color: #0f4572"><strong>Thank You for Applying!</strong></h3>
  <h5 style="color: #2b699b">Postion title: <%= @job_application.position.title %></h5>
  <hr>
  <p> We have successfully received your application.
  <p style="color: grey"> We are still in the process of reviewing applications, you will receive another email about this video interview result from our HR department.</p>
 <%= image_tag 'tick.gif',width:150 %>
  <p>If you have any question, welcome to contact <strong>recruit@callbest.jp</strong></p>
  <p style="color: grey">HR department, Callbest</p>
</div>
