<div class="footer">
    <div class='container'>
      <div class ="footer-banner">
        <div class = 'slogan'> Integrate Simplicruit in your talent acquisition processes</div>
        <button class = 'footer-button'>Contact Us</button>
      </div>
    </div>
    <div class="footer-inner">

    <div class='social-icon'>
      <a href="" target="_blank" class ='social'><span class="fab fa-facebook-f"></span></a>
      <a href="" target="_blank" class ='social'><span class="fab fa-twitter"></span></a>
      <a href="" target="_blank" class ='social'><span class="fab fa-instagram"></span></a>
    </div>
  </div>
  </div>
  <div class='copyright'>©2020 Simplicruit</div>

