<div class="wrapper">
 <div class="sidebar">
   <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "Simplicruite_logo_sidebar.png" %>
    <% end %>
  <ul>
  <li id ="positions"><i class="fas fa-users"></i><a href="">Positions</a></li>
  <li id="schedule"><i class="fas fa-calendar-alt"></i><a href="">Schedule</a></li>
  <li id ="records"><i class="fas fa-history"></i><a href="">Records</a></li>
 </ul>
 </div>
</div>
