<div class="wrapper">
 <div class="sidebar">

    <%= image_tag "Simplicruite_logo_sidebar.png" %>

  <ul>
  <li id ="positions"><i class="fas fa-users"></i><a href="">Positions</a></li>
  <li id="schedule"><i class="fas fa-calendar-alt"></i><a href="">Schedule</a></li>
  <li id ="setting">
   <i class="fas fa-user-cog"></i><span>Setting</span><span class="fas fa-caret-down toggle-down"></span>
</li>
  <ul class="sub-menu">
      <li><span class="fas fa-envelope-open-text"></span><a href="">Template</a></li>
      <li><span class="fas fa-sliders-h"></span><a href="">Scoring</a></li>
      <li><span class="fas fa-book-open"></span><a href="">Questions</a></li>
  </ul>

 </ul>
 </div>
</div>



