<div id="fullpage">
<div class="banner" style="background-image: linear-gradient(rgba(184,216,255,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1555421689-d68471e189f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <div class="container">
    <h1 style ="font-family:Heebo;">Using AI Makes Recruiting Easier And More Rapidly</h1>
    <p>An online interview and review platform that revolutionizes recruitment</p>
    <a class="home-btn btn btn-gradient" href="/positions">Start Now</a>
  </div>
</div>

 <div class="container" >
  <section class="section fp-auto-height" >
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
  <div class="home-card">
    <img src="https://images.unsplash.com/photo-1435527173128-983b87201f4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=747&q=80" alt="picture description" width="300" height="200" style='border-radius:5px'>
    <h3> Automate Appointment Scheduling</h3>
    <p>No schedule arrangement, No disruption to your workflow</p>
  </div>
  </div>

    <div class="col-xs-12 col-sm-4 col-md-4">
  <div class="home-card">
    <img src="https://images.unsplash.com/photo-1531746790731-6c087fecd65a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=695&q=80" alt="picture description" width="300" height="200" style='border-radius:5px'>
    <h3>AI screening & Digitized interviews</h3>
    <p>Pre-qualify candidates and assess their fit for the role</p>
  </div>
  </div>

   <div class="col-xs-12 col-sm-4 col-md-4">
   <div class="home-card">
    <img src="https://images.unsplash.com/photo-1565728744382-61accd4aa148?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80" width="300" height="200" style='border-radius:5px'>
    <h3>Interview Questions Generator</h3>
    <p>Just 5 minutes to get ready for the next-round interview</p>
   </div>
   </div>
  </div>
  </section>

  <div class="hp-headline"><span>Our Vision</span></div>
  <section class="section fp-auto-height" id="section2" >
    <div class = "section-row row1"><%= image_tag "screening.png" %><i class="fas fa-caret-left"></i><span>Recruiters will be able to conduct proactive strategic hiring rather than spend most of their time with reactive backfilling</span></div>
    <div class = "section-row row2"><span>Streamline or automate some part of the recruiting workflow, especially repetitive high-volume tasks</span><i class="fas fa-caret-right"></i><%= image_tag "Automation.png" %></div>
    <div class = "section-row row3"><%= image_tag "bulb.png" %><span>Eliminate the need for initial screening calls and only focus on qualified candidates</span></div>
  </section>
<div class="hp-headline"><span>Voices From HR</span></div>
  <div class="section fp-auto-height" id="section3">
      <div class="slide active"><div class='slide1'><img src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png"/>Any area of recruiting where distinct inputs and outputs occur – like screening, sourcing and assessments – will largely become automated</div><img src="https://img.icons8.com/ultraviolet/40/000000/quote-right.png" class="last-quotation"/></div>
      <div class="slide "><div class='slide2'><img src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png"/>If recruiters and companies can learn to pair themselves with a specific AI, they can train it to understand a particular corporate mission</div><img src="https://img.icons8.com/ultraviolet/40/000000/quote-right.png" class="last-quotation"/></div>
      <div class="slide"><div class='slide3'><img src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png"/>Augmented Intelligence, rather than totally replacing people at work will be used to make them more effective</div><img src="https://img.icons8.com/ultraviolet/40/000000/quote-right.png" class="last-quotation"/></div>
  </div>
 </div>

<button> </button>


 <%= render "shared/footer" %>

</div>
