.btn-application{
  display: flex;
}

.btn-application-analysis{
  border: none;
  margin: 16px 16px 16px 0;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: #67c5ff;
  background-color: transparent;
  outline: none;
}

// .btn-application-analysis:before{
//   position: absolute;
//   content: '';
//   width: 100%;
//   height: 4px;
//   top:100%;
//   left: 0;
//   border-radius: 3px;
//   background:#67c5ff;
//   transition: .2s;
// }

.btn-application-analysis:hover:before{
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.btn-evaluation-form{
  &.hidden{
    display: none;
  }
}

.btn-video-analysis{
  &.hidden{
    display: none;
  }
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
