
.cards {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    margin: 24px auto;
    max-width: 1200px;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.card {

    background-color:#ffffff6b;
    margin: 0.5em auto;
    padding: 0;
    width: 96%;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    height:auto;
    border-color:#c6dbffd4;
}


@media all and (min-width: 768px) {
    .card {
        margin: 1em 0;
        width: calc(96% / 2);
        background-color:#fff;
    }
}

@media all and (min-width: 992px) {
    .card {
        width: calc(96% / 3);
        background-color:#fff;
        border-radius: 6px;
        padding:19px;
  }
  .cards::after{
        content: "";
        display: block;
        width: calc(96% / 3);
    }
  }

@media all and (min-width: 1240px) {
    .card-head{
      display:flex;
      flex-direction:row;
      justify-content:space-between;

    }
    .card-duedate {
      font-size:16px;
      color: #002943;
    }

    .card-info{
      font-size:15px;
    }
}

.card-title {
  font-size:16px;
  color: #00253e;
  padding:6px 0;
  border-radius:4px;

}

.candidates-info {
  margin-bottom:16px;
  display: flex;
  justify-content: space-between;
}

.candidates-info .name a {
  color:#101010;
}

.btn-seeall {
  width:80px;
  text-align: left;
  border-radius:6px;
}
.card-cat {
    font-size: 20px;
    padding:3px 0;
    text-align:center;
    background:#f1f1f1;
    border-radius:5px;
    margin-bottom:18px;
}
.btn-seeall a {
  color:#167ffb;
  &:hover{
    color:#004572;
  }
}
.fa-meh{
  font-size:26px;
  margin-right:4px;
  color: #ff7f0d;
  position:relative;
  top:2px;
}

.fa-smile{
  font-size:26px;
  margin-right:4px;
  position:relative;
  top:2px;
  color:#1a905b;
}

.fa-frown {
  font-size:26px;
  margin-right:4px;
  position:relative;
  top:2px;
  color:#ff4040;

}

.fa-edit {
  color:#004572;
}

.fa-user {
  position: relative;
  bottom: 1px;
  font-size: 12px;
  color: #34465ae3;
  margin-left: 4px;
  }
.fa-circle-notch {
 color:orange;
}

.fa-check{
  color:green;
}
.fa-times{
color:#f14848;
}
  .fa-angle-right {
    margin-right:6px;
  }
.small {
  margin-right:0;
}

.home-card{
  padding: 50px;
  font-weight: lighter;
}

.card-row-info {
  display:flex;
  justify-content:space-between;
}

.card-head {
  display:block;
}


.card .body {
  max-height:300px;
  overflow-y:auto;
}

.email-template-cards {
  margin-bottom:40px;
}
