.card-application{
  border: 2px solid  rgba(22, 127, 251, 0.29);
  // box-shadow: 0 4px 4px rgba(180, 180, 180, 0.2);
  margin-bottom: 8px;
  color: gray;
    background-color: white;
  border-radius: 6px;
}

.card-application-container{
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  color:#404040;

}



.applicant-name{
  color: #001223;
  font-size: 24px;
  margin-top: 16px;
}
