
.video-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.video-transcript{
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  height:300px;
  width:80%;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
}

.video-content{
  display:flex;
}
