.video-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width:90%;
  margin-bottom:20px;
  border-radius:2px;
  box-shadow: 0 4px 8px rgba(160, 160, 160, 0.3);
  margin-top: 32px;
}

.video-transcript{
  margin:6px 0 0 0;
  border-radius:6px;
  display: block;
  height:480px;
  padding:30px 50px;
  border:1px solid rgba(22, 127, 251, 0.29);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
  align-self: center;
  background-color:white;
  width:90%;
}

.video-transcript{
  font-family:Helvetica;
  color:#333;
  }

.video-content {
  display:flex;
  margin-bottom: 24px;
  width:50%;
  margin-left:40px;
}




